@import url(reset.css);


header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    background-color: white;
    border-bottom: 2px solid black;
    position: fixed;
}

.head-box h1 a {
    color: black;
    font-size: 30px;
    opacity: 70%;
}

.head-box h1 a:hover {
    opacity: 100%;
    text-decoration: underline;

}

.nav-bar ul li a:hover {
    opacity: 100%;
    text-decoration: underline;

}


.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    margin-left: 1rem;
    color: black;
    font-size: 18px;
    font-weight: bold;
    opacity: 70%;
}

.nav-bar ul li:last-child a:after {
    content: '\2197';
}




.conteiner {
    width: 100%;
    height: 120vh;
    background-color: antiquewhite;
    border-bottom: 2px solid black;

}


.text-box {
    width: 500px;

}

.text-box h2 {
    font-size: 50px;

}

.text-box p {
    font-size: 23px;
    margin-top: 30px;

}

.conteiner .img-box {
    display: flex;
}


.img-box {
    width: 700px;
    height: 600px;
    padding-top: 100px;


}


.block {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.btn {
    margin: -130px 40px;

}

.btn button {

    width: 140px;
    height: 50px;
    border: 2px solid black;
    background-color: white;
}

.btn button a {
    font-size: 19px;
}

.btn button:hover {
    background-color: black;
    transition: 1s;

}

.btn button :hover {
    color: white;
}


.box {
    width: 100%;
    height: 180vh;


}


.col {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 60px;


}

.col h2 {
    width: 650px;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
}

.col span {
    width: 450px;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
}



.bl {
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 29px;
    padding-bottom: 200px;




}



.bl div {
    width: 450px;
    height: 150px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 19px;
    padding: 20px;
    margin: 10px;



}



.bl img {
    width: 100px;
    height: 100px;
}


.bt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;



}


.bt h2 {
    width: 500px;
    text-align: center;
    font-weight: 900;
    font-size: 30px;

}

.bt button {
    width: 110px;
    height: 40px;
    border: 2px solid black;
    background-color: white;
    margin: 50px;


}


.bt button a {
    color: black;
    font-weight: 900;
    opacity: 70%;

}


.bt button:hover {

    background-color: black;

}

.bt button a:hover {
    opacity: 100%;
    color: white;
}



footer {
    width: 100%;
    height: 150px;
    background-color: black;

}


.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 35px;

}




.footer-span {
    color: white;
    padding-top: 45px;
}


.nav-link a {
    color: white;
    margin: 10px;
}

.nav-link a:hover {
    text-decoration: underline;
}